@mixin clearfix {
    &::after {
        content: " "; // we always need to specify content property, otherwise  pseude element will not appear on the page, we make it empty because we don't want to see it
        display: table; // we need to display it. "Table" is used in standard version of clearfix
        clear: both; // this is the property that actually performs float clears

    }
}

//media query manager

/*
0 - 600px               Phone
600-900px               Tablet portrait mode
900px - 1200px          Tablet landscape mode
1200-1800               is where our normal styles apply
1800px +                Big desktop screens

Breakpoint argument choices:
-phone
-tab-port (tablet portrait)
-tab-land (tablet landscape)
- big-desktop
*/

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px
// 1rem = 10px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}