.section-about {
    background-color: $color-grey-light-1;
    padding:  25rem 0;
    margin-top: -20vh //visina prve sekcije je 95vh, a poligon ide do 75vh, zato moramo ovu sledecu sekciju da pomerimo na gore za 20vh da bi se boja lepo uklapala
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * { // ovo bira svu direktnu decu .section-features klase tj samo klasu .row
        transform: skewY(7deg);
    }
}