.section-about {
    background-color: $color-grey-light-1;
    padding:  25rem 0;
    margin-top: -20vh //visina prve sekcije je 95vh, a poligon ide do 75vh, zato moramo ovu sledecu sekciju da pomerimo na gore za 20vh da bi se boja lepo uklapala
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * { // ovo bira svu direktnu decu .section-features klase tj samo klasu .row
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding:  25rem 0 5rem 0;
    margin-top: -12rem;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%, 
    rgba($color-white, .9) 50%,
     transparent 50%), url(../img/nat-10.jpg); //50% above and these 50% make the line between two parts without gradient. If it was 40% and 50%, gradient will appear in this difference of 10%;
    // with percentages we define the points where the specific color starts at 0% at 50% etc. IF the two colors have same %, then there's no gradient between them.
    background-size: 100%; // it means exactly the same thing as cover 100% width
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}